{% extends "blogs/base.html" %}

{% block content %}
<div class="p-4 mb-5" style="background-color: #f0f8ff; border: 1px solid #c4e3ff; border-radius: .5rem;">
    <div class="container-fluid text-center py-3">
        <h1 class="display-7 fw-bold" style="color: #003366;">Welcome to Your Blog Dashboard</h1>
        <!-- Subtle, professional color -->
        <p class="lead" style="color: #004080;">Easily create and manage your blogs. Start by adding a new blog, then
            share your posts with the world.</p>
    </div>
</div>

<ul>
    {%for x in blog_names%}
    <h3>
        <li>
            <a href="{% url 'blogs:blogs' x.id%}">
                {{x}}
            </a>
        </li>
    </h3>
    {%endfor%}
</ul>
<a href="{%url 'blogs:new_blogs'%}" style="padding-bottom: 10%;">Add New Blog</a>
{% endblock content %}