{% extends "blogs/base.html" %}
{% load django_bootstrap5 %}

{% block content %}
<!--Django uses a default view function for login template. We don't need to create one. -->
<h1 class="display-5 text-center fw-bold" style="color: #003366;">
    Welcome Back!
</h1>

{% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}
   <form action="{% url 'accounts:login' %}" method='post'>
    {% csrf_token %}
    {% bootstrap_form form %}
    {% bootstrap_button button_type="submit" content="Log in" %}

  </form>
{% endblock content %}