{% extends "blogs/base.html" %}


{% block content %}
<!--Django uses a default view function for login template. We don't need to create one. -->
<h1 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;font-weight: 100;font-size: 40px;">
    Hello, {{user}}
</h1>

{% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}
   <form action="{% url 'accounts:login' %}" method='post'>
    {% csrf_token %}
    {{ form.as_div }}
     <button name="submit">Log in</button>
  </form>
{% endblock content %}